<div class="text-left">
    <h1>Как с нами связаться</h1>
    <p>
        <h3>Контакты:</h3><br />
        @* <img src="/img/phone.jpg"> *@
        <b>Телефон:</b> <a href="tel:+78121234567">+7(977)488-90-30</a><br />
        @* <img src="/img/email.png"> *@
        <b>E-mail:</b> <a class="mail-link">electriks0comp26@gmail.com</a><br />
        @* <img src="/img/geo.png"> *@
        <b>Адрес:</b> 125183, г. Москва, Проспект Черепановых, д. 54<br />
        @* <img src="/img/contact.png"> *@
        <b>Контактное лицо:</b> Тарасов Игорь Анатольевич<br />
        <hr />
        <b>Время работы:</b> пн-пт: 9.00 - 18.00<br />
    </p>
    <a
        asp-controller="Home" asp-action="Index">На главную
    </a>
</div>